@page
@model SweetDate.Views.Shared.Main

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Главная страница</title>
</head>
<body>
    <div style="text-align: center; margin-top: 100px;">
        <h1>Добро пожаловать на наш сайт!</h1>
        <div>
            <a href="/Login" class="btn btn-primary">Log In</a>
            <a href="/SignUp" class="btn btn-primary">Sign Up</a>
        </div>
    </div>
</body>
</html>