.first{
    background: linear-gradient(to bottom, #9a2259, #d29eb0);
}

/* Общие стили для формы и ее элементов */
#formPerson {
    max-width: 400px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы по горизонтали */
}

.form-group {
    margin-bottom: 20px; /* Отступ между элементами формы */
}

/* Стили для селекторов и инпутов */
.form-control {
    background-color: #a3526c; /* Фон инпутов и селекторов */
    color: #ffffff; /* Цвет текста внутри инпутов и селекторов */
    border: none; /* Убираем границы инпутов и селекторов */
    border-radius: 5px; /* Скругляем углы */
    padding: 10px; /* Внутренний отступ для текста внутри элементов */
}

/* Стили для кнопки */
.btn-primary {
    background-color: #a3526c; /* Фон кнопки */
    color: #ffffff; /* Цвет текста на кнопке */
    border: none; /* Убираем границы кнопки */
    border-radius: 5px; /* Скругляем углы кнопки */
    padding: 10px 20px; /* Внутренний отступ для текста на кнопке */
}

/* Стили для полей выбора */
.select2-container {
    width: 100%; /* Ширина селектора равна 100% ширины родительского элемента */
}
