.first{
    background: linear-gradient(to bottom, #9a2259, #d29eb0);
}

.user-card p {
    margin: 5px 0;
}
.user-card {
    background-color: #f0f0f0;
    border-radius: 10px; 
    padding: 20px; 
    margin: 10px;
    text-align: center; 
    display: inline-block; 
    width: 30%; 
    vertical-align: top; 
}


.user-card img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    margin: 10px auto; 
}

.user-card p:nth-child(2) {
    font-weight: bold; 
    margin: 5px 0; 
    color: black;
}


.user-card p:nth-child(3),
.user-card p:nth-child(4),
.user-card p:nth-child(5) {
    margin: 5px 0; 
    color: #2c3034;
}


.user-card p:nth-child(6) {
    font-style: italic; 
    margin: 10px 0; 
    color: #91374d;
}
.header-buttons {
    position: absolute;
    top: 60px;
    right: 300px;
}

.exit-button{
    background-color: #E6E6E6;
    color: #1D1D1D;
    border: 1px solid #E6E6E6;
}

.btn-back {
    border: 1px solid #743349;
    background: #743349;
    color: #ffffff;
    position: absolute;
    bottom: -2px;
    left: 40px;
    width: 75px;
    height: 33px;
    text-align: center;
    line-height: 20px;
}

